figure{
    position: relative;
    width: 310px;
    height: 310px;
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px 2px rgba($color: #000000, $alpha: 0.2);
    }
    .back{
        top: 40px;
        left: -40px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: -1;
    }
}

.food_icon{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 50%;
    i{
        font-size: 40px;
        margin: auto;
    }
}
