h2 {
    margin-bottom: 70px;
    text-transform: uppercase;
    color: #333;
    font-size: 35px;
}

h3{
    color: #444;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}
h4{
    color: #444;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
h5{
    font-size: 20px;
    font-weight: 400;
    color: $primary-color;
}